*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 0.9em;
	font-family: Arial;
	padding: 10px 0;
}

#containerDiv{
	border-style: solid;
	border-width: 1px;
	width: 870px;
	border-color: rgb(130, 175, 165);
	height: auto;
	overflow: hidden;
	margin: auto;
}

#header{
	height: 30px;
	background-color: rgb(145, 205, 190);
	font-size: 1.2em;
	line-height: 30px;
	padding: 5px;
}

#title{
	float: left;
	height: 30px;
	width: 200px;
}

#header .dijitButtonNode{
	border: none;

	font-size: .8em;
	background: none;

	border-radius: 0;
	box-shadow: none;

	padding-top:4px;
}

.fieldset{
	float: left;
	width: 400px;
}

em{
	text-decoration: underline;
	font-style: normal;
}

#register{
	margin: 20px 40px 20px 10px;
	padding: 0;
}

.div{
	margin-top: 20px;
	overflow: auto;
}

.fieldset .div{
	width: 400px;
	height: auto;
	display: table;
}

.inputDiv{
	border-bottom-style: groove;
	border-bottom-right-radius: 3px;
	border-radius: 2px;
	border-width: 1px;
	min-height: 20px;
	word-wrap: break-word;
}

.div .dijitTextBox, table.dijitSelect, .div .inputDiv{
	float: right;
	width: 180px;
	
}

.label{
	display: table-cell;
    vertical-align: middle;
}

.div label{
	font-weight: bold;
	float: left;
}

.div p{
	color: red;
	display: inline-block;
}

#addressDiv p{
	
}

.checkDiv{
	width: auto !important;
}

.checkDiv label{
	font-weight: normal !important;
	float: none;
	line-height: normal;
	font-size: 0.8em;
}

.div td.dijitButtonNode{
	width: 18px;
}

.dijitPlaceHolder{
	font-style: normal !important;
	color: black !important;
}

textarea{
	height: 100px !important;
}

#addressDiv label{
	vertical-align: middle;
    display: table-cell;
}

#lunch{
	margin-top: 40px;
}

#payment{
	margin-top: 25px;
}

#paymentDiv{
	margin-top: 5px;
}

#paymentDiv .div{
	margin: 10px 0;
	height: 18px;
	margin-left: 50px;
}

.button{
	clear: both;
	text-align: center;
	background-color: rgb(228, 228, 228);
	margin: 1px;
	overflow: hidden;
}

#buttonDiv{
	display: inline-block;
	padding: 4px;
}

#buttonDiv .dijitButtonNode{
	background-color: rgb(125, 193, 176) !important;
	border-color: rgb(130, 175, 165)!important;
	
	width: 90px;

	font-size:1.1em !important;
	font-weight: bold;
	color: white !important;
	background-image: none !important;
	padding: 2px !important;
	border-radius: 0 !important;
}

#buttonDiv .dijitButtonText{
	line-height: 18px !important;
}
