*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 0.9em;
	font-family: Arial;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	height: 570px;
	width: 870px;
	left: 50%;
	top: 50%;
	margin-top: -285px;
	margin-left: -435px;
	border-color: rgb(130, 175, 165);
}

header{
	height: 30px;
	background-color: rgb(145, 205, 190);
	font-size: 1.2em;
	line-height: 30px;
	padding: 5px;
}

form {
	height: 529px;
	font-size: 0.8em;
	
}

fieldset{
	border-width: 0;
}

legend{
	height: 15px;
	text-decoration: underline;
}

#register{
	float: left;
	margin: 20px 10px;
	padding: 0;
	width: 415px;
	height: 450px;
}

form div{
 	position: relative;
	margin-top: 10px;
	height: 35px;
}

input, textarea, select{
	position: absolute;
	height: 20px;
	
	top: 50%;
	margin-top: -10px;
	
	margin-left: 200px;
	width: 180px;
	
}

textarea{
	height: 100%;
	top: 0;
	margin-top: 0;
}

label{
	position: absolute;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	line-height: 20px;
}

#addressDiv{
	height: 65px;
}

#lunch, #payment, #otherfields{
	width: 415px;
	padding-left: 20px; 
}

#lunch legend{
	padding-top: 40px;
}