<div>
        <div data-dojo-type="dijit/Dialog" data-dojo-id="myConfirmDialog" data-dojo-attach-point="myConfirmDialog" title="Confirm Dialog" style="display: none">
            <div class="dijitDialogPaneContentArea">
                <strong>First Name:</strong> ${firstName}</br>
                <strong>Last Name:</strong> ${lastName}</br>
                <strong>Company/Institution:</strong> ${company}</br>
                <strong>Address:</strong> ${address}</br>
                <strong>City:</strong> ${city}</br>
                <strong>State/Province/Región:</strong> ${state}</br>
                <strong>Country:</strong> ${country}</br>
                <strong>Email:</strong> ${email}</br>
                <strong>Phone:</strong> ${phone}</br>
                <strong>Preference Meal:</strong> ${meal}</br>
                <strong>payement Details:</strong> ${payementDetails}</br>
                <strong>DD/Cheque No.:</strong> ${noCheque}</br>
                <strong>Drawn on (Bank Name):</strong> ${draw}</br>
                <strong>Payable at:</strong> ${payable}
            </div>

            <div class="dijitDialogPaneActionBar">
                <button data-dojo-type="dijit/form/Button" data-dojo-props="type: 'button'" data-dojo-attach-event="onClick: ok">OK
                </button>
                <button data-dojo-type="dijit/form/Button" data-dojo-props="type: 'button'" data-dojo-attach-event="onClick: cancel">Cancel
                </button>
            </div>
        </div>
</div>