<div>
    <form data-dojo-type="dijit/form/Form" id="myForm" action="">
        <fieldset id="register" data-dojo-type="dijit/Fieldset">
            <legend>Register now while seats are aviliable!</legend>
                <div id="firstNameDiv" class="div">
                    <label for="firstName" class="required">First Name</label>
                    <input id="firstName" name="firstName" data-dojo-type="dijit/form/TextBox"/>
                </div>
                <div id="lastNameDiv" class="div">
                    <label id="a" for="lastName" class="required">Last Name</label>
                    <input id="lastName" name="lastName" data-dojo-type="dijit/form/TextBox"/>
                </div>
                <div id="companyDiv" class="div">
                    <label for="company" class="required">Company/Institution</label>
                    <input id="company" name="company" data-dojo-type="dijit/form/TextBox"/>
                </div>
                <div id="addressDiv" class="div" >
                    <label for="address" class="required">Address</label>
                    <textarea id="address" name="address" data-dojo-type="dijit/form/Textarea"></textarea>
                </div>
                <div id="cityDiv" class="div">
                    <label for="city">City</label>
                    <input id="city" name="city" data-dojo-type="dijit/form/TextBox"/>
                </div>
                <div id="stateDiv" class="div">
                    <label for="state">State/Province/Región</label>
                    <select id="state" data-dojo-type="dijit/form/ComboBox"  data-dojo-props="id:'state'">
                        <option value="1" selected="selected">-Select-</option>
                    </select>
                </div> 
                <div id="countryDiv" class="div">
                    <label for="country">Country</label>
                    <select id="country" data-dojo-type="dijit/form/ComboBox"  data-dojo-props="id:'country'">
                        <option value="1" selected="selected">-Select-</option>
                    </select>
                </div>
                <div id="emailDiv" class="div">
                    <label for="email"  class="required">Email</label>
                    <input id="email" name="email" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="emailNode" data-dojo-props="validator:dojox.validate.isEmailAddress, invalidMessage:'This is not a valid email!'"/>
                </div>
                <div id="phoneDiv" class="div">
                    <label for="phone" class="required">Phone Number</label>
                    <input id="phone" name="phone" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="phoneNode" data-dojo-props="regExp:'[\\w]+', invalidMessage:'Invalid Non-Space Text.'"/>
                </div>
        </fieldset>
        <fieldset id="lunch" data-dojo-type="dijit/Fieldset">
            <legend>Lunch</legend>
                <div id="mealDiv" class="div">
                    <label for="meal">Meal Preferences</label>
                    <select id="meal" name="meal" data-dojo-type="dijit/form/ComboBox">
                        <option value="1" selected="selected">Vegetarian</option>
                        <option value="2" selected="selected">Vegetarian2</option>
                    </select>
                </div>
            </fieldset>
        <fieldset id="payment" data-dojo-type="dijit/Fieldset">
            <legend>Payment Details</legend>
                <div id="paymentDiv" class="div">
                    <label for="payment">Payment Mode</label>
                    <div id="cashDiv" class="div checkDiv">
                        <input type="checkbox" id="cash" data-dojo-type="dijit/form/CheckBox"/>
                        <label for="cash">Cash</label>
                    </div>
                    <div id="chequeDiv" class="div checkDiv">
                        <input type="checkbox" id="cheque" name="cheque" data-dojo-type="dijit/form/CheckBox"/>
                        <label for="cheque">Cheque</label>
                    </div>
                    <div id="demandDiv" class="div checkDiv">
                        <input type="checkbox" id="demand" name="demand" data-dojo-type="dijit/form/CheckBox"/>
                        <label for="demand">Demand Draf</label>
                    </div>
                </div>
        </fieldset>
        <fieldset id="othersfields" data-dojo-type="dijit/Fieldset">
            <div id="chequenoDiv" class="div">
                <label for="chequeno">DD/Cheque No.</label>
                <input type="text" id="chequeno" name="chequeno" data-dojo-type="dijit/form/TextBox"/>
            </div>
            <div id="drawnDiv" class="div">
                <label for="drawn">Drawn on (Bank Name)</label>
                <input type="text" id="drawn" name="drawn" data-dojo-type="dijit/form/TextBox"/>
            </div>
            <div id="payableDiv" class="div">
                <label for="payable">Payable at</label>
                <input type="text" id="payable" name="payable" data-dojo-type="dijit/form/TextBox"/>
            </div>
        </fieldset>
        <fieldset id="bottom" data-dojo-type="dijit/Fieldset">
            <div id="bottomDiv" class="div">
                <button id="submit" data-dojo-type="dijit/form/Button" data-dojo-props="type: 'button'" data-dojo-attach-event="onClick: valid">Submit</button>
                <button id="reset" data-dojo-type="dijit/form/Button" data-dojo-props="type: 'reset'" data-dojo-attach-event="onClick: reset">Reset</button>
            </div>
        </fieldset>
     </form>
</div>